<!DOCTYPE html>
<html>
<head>
	{{ template "load-boot" }}
	<title> {{ .title }}</title>
</head>
<body>

	<div class="container">

		<div style="max-width: 640px;  padding: 15px;  margin: 0 auto;">
			
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" style="float: right;"><a href="/logout">Logout</a></li>
				<li role="presentation" style="float: right;"><a href="/users">Users</a></li>
				<li role="presentation" style="float: right;"><a href="/home">Home</a></li>				
		    </ul>

		    <div class="list-group" style="margin-top: 60px">
			{{ range .friends }}

				<div class="row list-group-item">
					<div class="list-group-item-text col-md-8">
						<h4>{{ .Username }}</h4>
						<h6>{{ .Created }}</h6>
					</div>
					<div class="list-group-item-text col-md-2" 
						 style="float: right; text-align: center; margin-top: 14px;">
						<a href="/messages?pm={{ .Uid }}" class="btn btn-success">Chat</a>
					</div>
				</div>

			{{end}}
			</div>
		</div>
	</div>
</body>
</html>