<!DOCTYPE html>
<html>
<head>
	{{ template "load-boot" }}
	<title>{{ .title}}</title>
</head>
<body>

	<div class="container">

		<div style="max-width: 640px;  padding: 15px;  margin: 0 auto;">
			
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" style="float: right;"><a href="/login">Login</a></li>
				<li role="presentation" style="float: right;"><a href="/register">Register</a></li>
		    </ul>

			<h2>{{ .title }}</h2>
			<div class="well">{{ .body }}</div>			
		</div>

	</div>
</body>
</html>
