<!DOCTYPE html>
<html>
<head>
	{{ template "load-boot" }}
	<title> {{ .title }}</title>
</head>
<body>

	<div class="container">

		<div style="max-width: 640px;  padding: 15px;  margin: 0 auto;">
			
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" style="float: right;"><a href="/home">Home</a></li>
				<li role="presentation" style="float: right;"><a href="/logout">Logout</a></li>
		    </ul>

		    <div class="list-group" style="margin-top: 60px">
			{{ range .users}}

				<div class="row list-group-item">
					<h4 class="list-group-item-text col-md-8">{{ .Username }}</h4>
					<h6 class="list-group-item-text col-md-8">{{ .Created }}</h6>
				</div>

			{{end}}
			</div>
		</div>
	</div>
</body>
</html>